openapi: 3.0.4
info:
  title: Brise Cloud API
  version: 3.1.0
  contact:
    name: AGST
    email: ped@agst.com.br
    url: https://www.agst.com.br
  description: |
    # Introdução

    A **Brise Cloud API** é a interface oficial para integração com o sistema Brise por meio do serviço remoto.  
    Ela permite que aplicações de automação se comuniquem com dispositivos Brise conectados ao serviço remoto **Brise Cloud**, facilitando a integração com sistemas de supervisão, gestão predial, automação residencial e industrial.

    Todas as requisições e respostas utilizam o formato **JSON**, garantindo interoperabilidade e facilidade de processamento em diferentes plataformas.

    > Além da solução remota, a **Brise LAN API** oferece comunicação direta com os dispositivos Brise dentro da mesma rede local, sem dependência de conexão com a internet.
    > 
    > Essa API é ideal para cenários onde:
    > - A conectividade com a internet não é confiável ou aceitável.
    > - Baixa latência é essencial.
    > - O controle local é prioritário por questões de segurança ou desempenho.

    ## Funcionalidades principais

    - **Consultar e controlar dispositivos Brise** conectados ao serviço remoto  
    - **Gerenciar grupos de dispositivos** e suas configurações centralizadas  
    - **Monitorar status em tempo real** e métricas operacionais  
    - **Integrar de forma unificada** com sistemas de terceiros via RESTful  

    As chamadas são baseadas em métodos **RESTful**, seguindo boas práticas de design de APIs, com autenticação segura e respostas padronizadas para facilitar o desenvolvimento e a manutenção.

servers:
  - url: "https://sandbox.brise.agst.com.br:8443/api/v3"
    description: Servidor local de desenvolvimento
  - url: "https://api.brise.agst.com.br/api/v3"
    description: Servidor de Produção

tags:
  - name: Autenticação
    description: |
      Este tópico descreve os métodos de autenticação disponíveis e como utilizá-los.  

      > ⚠️ **Recomendação**: Utilize OAuth 2.0 com fluxo `authorizationCode` para integrações seguras.

      <!-- ReDoc-Inject: <security-definitions> -->

      # 🚀 Primeiros Passos
      1. Registre seu aplicativo no [Portal de Desenvolvedores](https://brise.agst.com.br:8443/api/v3/sp/application.html) e [Portal de Desenvolvedores Sandbox](https://sandbox.brise.agst.com.br:8443/api/v3/sp/application.html)
      2. Obtenha `client_id` e `client_secret`
      3. Inicie o fluxo OAuth2 (veja as etapas nos endpoints `/oauth/authorize` e `/oauth/token`).
      4. Inclua o token nas requisições autenticadas.

      # 💡 Guia Implementação Plataforma Web (React)

      Esta seção descreve as responsabilidades da plataforma Web ao implementar o fluxo de autenticação.

      > 🚨 **Nota Importante:**  
      > Esta sessão deve ser removida da documentação, pois é de uso esclusivo do serviço da plataforma web e não deverá ser divulgada.

      ### Fluxo de Autenticação

      1.  **Carregamento da Aplicação**: Ao iniciar, a aplicação deve verificar os tokens (`access_token`, `refresh_token`) no `localStorage`.
          *   **Se `access_token` for válido**: A aplicação pode prosseguir para o estado autenticado.
          *   **Se `access_token` estiver expirado, mas existir um `refresh_token` válido**: A plataforma Web deve fazer uma requisição em primeiro plano para o endpoint `GET /oauth/token` usando o 'refresh_token'`.
              *   **Como fazer**: A aplicação React deve executar um **redirecionamento** do navegador para o endpoint `GET /oauth/token`, passando o `refresh_token` e um parâmetro `state` (valor aleatório para proteção CSRF) na URL. Ex: `window.location.href = '.../oauth/token?refresh_token=SEU_TOKEN&state=VALOR_ALEATORIO'`.
              *   **Sucesso**: O backend irá processar o `refresh_token`, gerar novos tokens (`access_token` e `refresh_token`), injetá-los no `localStorage` e recarregar a aplicação.
              *   **Falha**: Se o `refresh_token` for inválido ou expirado, o backend redirecionará para a página de login. A aplicação deve limpar os tokens antigos do `localStorage`.
          *   **Se não existirem tokens ou o `refresh_token` for inválido**: A aplicação deve redirecionar o usuário para iniciar o fluxo de login OAuth2 (endpoint `/oauth/authorize`).

      2.  **Finalização do Fluxo OAuth2**: Após o usuário autorizar a aplicação e a API concluir a troca do `code` pelo `access_token`, a API fará o seguinte:
          *   **Injetará os tokens `access_token` e `refresh_token` diretamente no `localStorage`** do navegador.
          *   Retornará o HTML da aplicação React, que será recarregada, agora com uma sessão válida.

      ### Armazenamento e Uso dos Tokens

      *   **Armazenamento**: É **obrigatório** o uso de `localStorage` para armazenar os tokens, pois a API foi projetado para injetar `access_token` e `refresh_token` nesse local.

      *   **Uso**: A plataforma Web é responsável apenas por ler o `access_token` do `localStorage` e enviá-lo em todas as chamadas para endpoints protegidos, utilizando o cabeçalho `Authorization`:
          ```
          Authorization: Bearer ${access_token}
          ```
  - name: Usuários
    description: |
      Esta categoria abrange o gerenciamento de contas no sistema Brise Cloud. Ela permite criar novos usuários, enviar tokens de ativação, ativar contas pendentes e solicitar o reenvio de um novo token caso o anterior tenha expirado ou seja perdido. O objetivo é fornecer um processo seguro e consistente para que os usuários completem sua ativação e possam acessar os recursos do sistema.

      > ⚠️ **Nota importante:**  
      > Muitos dos endpoints deste grupo não requerem autenticação, pois são necessários para a criação da conta. A princípio, serão usados apenas por sistemas internos, integrando com o App, e **não serão divulgados na API pública**.
  - name: Corporações
    description: |
      Agrupa os conjuntos de endpoints responsáveis pelo gerenciamento de corporações no sistema.  

      Permite criar, consultar e manter informações das corporações, bem como gerenciar o vínculo entre usuários e suas respectivas organizações.
  - name: Aplicações
    description: |
      Agrupa os endpoints responsáveis pelo cadastro e gerenciamento de aplicações que poderão interagir com a API Brise Cloud via OAuth2.  

      > ℹ️ Observações:
      > - Cada aplicação pertence a um usuário registrado (`owner_id`).  
      > - Após o cadastro, a aplicação fica com status `pending` até avaliação da equipe.  
      > - Após liberação, o sistema fornece `client_id` e `client_secret`.
  - name: Sistema
    description: |
      Operações de manutenção e controle do dispositivo Brise.
  - name: Acesso
    description: |
      Operações relacionadas ao controle de acesso e compartilhamento de dispositivos Brise via nuvem.
      Permite gerar convites (vouchers) para conceder acesso a outros usuários e gerenciar aprovações.
  - name: Rotinas
    description: |
      Gerenciamento de rotinas de automação executadas localmente pelo dispositivo.
  - name: Logs
    description: |
      description: Consulta aos históricos de eventos, dados de utilização e registros de temperatura do dispositivo.
  - name: Dispositivo
    description: |
      Monitoramento e controle direto do Ar Condicionado via dispositivo, além de configuração de funções especiais, roteado via Cloud.
  - name: Protocolo IR
    description: |
      Gerenciamento do protocolo infravermelho utilizado pelo dispositivo para interfacear com a máquina de Ar Condicionado, roteado via Cloud.

paths:
  /oauth/authorize:
    get:
      tags:
        - Autenticação
      summary: Fluxo OAuth2
      description: |
        Este é o primeiro passo do fluxo de autorização OAuth2. O objetivo é obter o consentimento do usuário para que sua aplicação possa acessar os dados dele no Brise Cloud.

        **Como funciona:**
        1. Sua aplicação redireciona o usuário para esta página.
        2. O usuário faz o login no Brise Cloud (se ainda não estiver logado) e vê uma tela de consentimento, informando quais permissões sua aplicação está solicitando.
        3. Se o usuário aprovar, ele será redirecionado de volta para a `redirect_uri` que você especificou, recebendo um **código de autorização** temporário (`code`) como parâmetro na URL.

        Este `code` é a prova de que o usuário autorizou sua aplicação. O próximo passo é trocá-lo por um `access_token` no endpoint `/oauth/token`.

        > **Segurança:** Para aplicações web (SPAs) e mobile, é altamente recomendado o uso do fluxo **Authorization Code com PKCE**, que adiciona uma camada extra de segurança.

      operationId: oauthAuthorize
      parameters:
        - name: response_type
          in: query
          required: true
          schema:
            type: string
            enum: [code]
          description: Deve ser `code` para o Authorization Code Flow
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: Client ID da aplicação registrada
          example: "app_1234567890abcdef"
        - name: redirect_uri
          in: query
          required: true
          schema:
            type: string
            format: uri
          description: |
            A URI para a qual o usuário será redirecionado após a autorização bem-sucedida.

            **Importante:** Este valor **deve** ser exatamente igual a um dos "Redirect URIs" que você cadastrou para sua aplicação no portal de desenvolvedores. A validação é feita por comparação exata de strings.
          example: "https://meuapp.com/oauth/callback"
        - name: state
          in: query
          required: false
          schema:
            type: string
          description: Valor opaco recomendado para proteção CSRF. Se enviado pelo cliente, deve ser retornado intacto no redirecionamento.
          example: "xyz789state123"
        - name: code_challenge
          in: query
          required: false
          schema:
            type: string
          description: Obrigatório quando usar PKCE. Gerado a partir do code_verifier
          example: "E9Melhoa2OwvFrEMTJguCHaoeK1t8URWbuGJSstw-cM"
        - name: code_challenge_method
          in: query
          required: false
          schema:
            type: string
            enum: [S256]
          description: Método usado para gerar o code_challenge. Use `S256` para PKCE.
          example: "S256"
      responses:
        "302":
          description: Redireciona para a tela de login/consentimento ou diretamente para o redirect_uri com o `code`
          headers:
            Location:
              description: URL de redirecionamento contendo `code` e `state` (ou página de erro)
              schema:
                type: string
                example: "https://meuapp.com/oauth/callback?code=SplxlOBeZQQYbYS6WxSbIA&state=xyz789state123"

  /oauth/token:
    post:
      tags:
        - Autenticação
      summary: Trocar code por tokens
      description: |
        Este é o segundo e último passo do fluxo de autorização. Sua aplicação utiliza este endpoint para trocar o `code` (código de autorização temporário) obtido na etapa anterior por um **access_token**.

        É com o `access_token` que sua aplicação poderá fazer chamadas autenticadas à API Brise Cloud em nome do usuário.

        Este endpoint também é utilizado para renovar um `access_token` expirado, usando o `refresh_token`.

        **Tipos de requisição (grant_type):**
        - `authorization_code`: Use esta opção para a troca inicial do `code` por um `access_token`.
        - `refresh_token`: Use esta opção para obter um novo `access_token` quando o atual expirar, sem que o usuário precise autorizar novamente.

      operationId: oauthToken
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - $ref: "#/components/schemas/TokenRequestAuthorizationCode"
                - $ref: "#/components/schemas/TokenRequestRefreshToken"
              discriminator:
                propertyName: grant_type
                mapping:
                  authorization_code: "#/components/schemas/TokenRequestAuthorizationCode"
                  refresh_token: "#/components/schemas/TokenRequestRefreshToken"
            examples:
              authorization_code:
                summary: Troca de code
                value:
                  grant_type: authorization_code
                  client_id: "app_1234567890abcdef"
                  client_secret: "secret_0987654321fedcba"
                  code: "SplxlOBeZQQYbYS6WxSbIA"
                  redirect_uri: "https://brise.agst.com.br"
              authorization_pkce_code:
                summary: Troca de code (com PKCE)
                value:
                  grant_type: authorization_code
                  client_id: "app_1234567890abcdef"
                  client_secret: "secret_0987654321fedcba"
                  code: "SplxlOBeZQQYbYS6WxSbIA"
                  redirect_uri: "https://brise.agst.com.br"
                  code_verifier: "dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"
              refresh_token:
                summary: Renovação via refresh_token
                value:
                  grant_type: refresh_token
                  client_id: "app_1234567890abcdef"
                  client_secret: "secret_0987654321fedcba"
                  refresh_token: "dGhpc2lzc2Ftb3JlZnJlc2h0b2tlbg=="
      responses:
        "200":
          description: Tokens emitidos com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: Token JWT de acesso
                    example: "eyJhbGciOiJSUzI1NiIsInR5cCI..."
                  token_type:
                    type: string
                    example: bearer
                  expires_in:
                    type: integer
                    description: "Tempo em segundos para expiração do token de acesso sendo o padrão (48 horas)"
                    example: 172800
                  refresh_token:
                    type: string
                    description: Token para renovação
                    example: "dGhpc2lzc2Ftb3JlZnJlc2h0b2tlbg=="
        "400":
          description: code expirado, grant inválido ou credenciais do cliente inválidas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: OAuth2 error code
                    enum: [invalid_request, invalid_client, invalid_grant]
                required:
                  - error
                examples:
                  invalid_grant:
                    summary: Código de autorização inválido ou expirado
                    value:
                      error: invalid_grant
                  invalid_client:
                    summary: Credenciais do cliente inválidas
                    value:
                      error: invalid_client
    get:
      tags:
        - Autenticação
      summary: Renovar Sessão
      description: |
        Este endpoint é projetado para renovar a sessão de um usuário na plataforma web de forma transparente, utilizando um `refresh_token` válido.

        **Como funciona o fluxo:**
        1. A aplicação, ao detectar que o `access_token` expirou mas existe um `refresh_token` no `localStorage`, **redireciona** o navegador do usuário para este endpoint.
        2. O `refresh_token` devem ser enviado como parâmetro de query na URL.
        3. A API valida o `refresh_token`.
           - **Se válido:** Gera um novo `access_token` e um novo `refresh_token`, os injeta diretamente no `localStorage` do navegador e retorna o HTML da aplicação, recarregando a página com a sessão renovada.
           - **Se inválido:** Redireciona o usuário para a página de login para que ele se autentique novamente.

        > 🚨 **Importante:** Este fluxo depende de um redirecionamento de página, pois a injeção de tokens é feita pelo servidor ao carregar a página.
      operationId: validateToken
      parameters:
        - in: query
          name: refresh_token
          required: true
          description: O `refresh_token` obtido anteriormente e armazenado no `localStorage`.
          schema:
            type: string
            example: "dGhpc2lzc2Ftb3JlZnJlc2h0b2tlbg=="
      responses:
        "200":
          description: Sessão renovada com sucesso. Os novos tokens serão recarregada no localStorage.
          content:
            text/html:
              schema:
                type: string
                format: html

  /oauth/token-validation:
    get:
      tags:
        - Autenticação
      summary: Validar token
      description: |
        Verifica se o token de autenticação fornecido é válido, ainda não expirou ou se foi revogado. 
        Este endpoint pode ser usado por aplicativos ou plataformas para confirmar a validade do token armazenado, evitando a necessidade de login completo.  

        É especialmente útil em cenários de **“lembrar login”**, permitindo que o sistema valide um token salvo localmente antes de solicitar novamente as credenciais do usuário, proporcionando uma experiência mais fluida e segura.
      operationId: tokenValidation
      security:
        - bearerAuth: []
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Token de autenticação no formato `Bearer <access_token>`
          schema:
            type: string
            example: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
      responses:
        "200":
          description: Token válido.
          content:
            application/json:
              schema:
                type: object
                properties:
                  expires_at:
                    type: integer
                    format: int64
                    description: "Tempo em segundos para expiração do token de acesso sendo o padrão (48 horas)"
                    example: 172800
        "401":
          description: |
            Token inválido ou expirado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: INVALID_TOKEN
                    enum: [INVALID_TOKEN, EXPIRED_TOKEN, USER_NOT_FOUND]
        "402":
          description: |
            Assinatura necessária para acessar este recurso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: SUBSCRIPTION_REQUIRED

  /users-private:
    post:
      tags:
        - Usuários
      summary: Criar usuário (privado)
      description: |
        Registra um novo usuário no sistema Brise Cloud (usado pelo App).  
        Por padrão, a conta é criada com status `pending`.

        > ℹ️ **Observações:**  
        >- Um token de ativação é enviado para o e-mail informado no cadastro.  
        >- O token deve ser utilizado em outro endpoint para ativar a conta.  
        >- Contas corporativas devem ser criadas por administradores de organizações.
        >
        > 🚨 **Nota Importante:**  
        > O path deste deve ser alterado para algo menos óbvio quando for para produção, para evitar spam e ataques de força bruta uma vez que não requer autenticação.
      operationId: createUser
      requestBody:
        description: Dados do usuário a ser criado
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - full_name
                - password
              properties:
                email:
                  type: string
                  format: email
                  description: Endereço de e-mail do usuário
                full_name:
                  type: string
                  description: Nome completo do usuário
                password:
                  type: string
                  format: password
                  description: |
                    A nova senha para a conta.
                    Deve conter no mínimo 8 caracteres, incluindo:
                    - Pelo menos uma letra maiúscula
                    - Pelo menos uma letra minúscula
                    - Pelo menos um número
                    - Pelo menos um caractere especial
                  pattern: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).{8,}$/
            examples:
              createUserRequest:
                summary: Exemplo de requisição para criação de usuário
                value:
                  email: "joao.silva@exemplo.com"
                  full_name: "João Silva"
                  password: "senhaSegura123"
      responses:
        "201":
          description: Usuário criado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    readOnly: true
                    example: 101
                  status:
                    type: string
                    enum: [pending, active, blocked]
                    default: pending
                    example: pending
                  created_at:
                    type: string
                    format: date-time
                    readOnly: true
                    example: "2025-09-09T10:00:00Z"
        "400":
          description: Requisição inválida. Verifique os dados enviados.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflito. O e-mail já está em uso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: EMAIL_ALREADY_IN_USE

  /users:
    post:
      tags:
        - Usuários
      summary: Criar usuário
      description: |
        Registra um novo usuário no sistema Brise Cloud.
        Requer validação anti-bot via **hCaptcha** ou **Cloudflare Turnstile** (pelo menos um dos dois tokens deve ser enviado) para prevenir abuso automatizado (bots, scripts, etc.).

        > ℹ️ **Fluxo:**  
        >- Um token de ativação é enviado para o e-mail informado.  
        >- A conta é criada com status `pending` até que o usuário clique no link de ativação.  
        >
        > 🛡️ **Segurança [Proteção anti-bot]:**  
        >- Este endpoint exige o parâmetro `h-captcha-response` ou `cf-turnstile-response` (gerado pelo widget do dos serviços).  
        >- A verificação é feita server-side junto às APIs: 
        >   - hCaptcha → `https://api.hcaptcha.com/siteverify`.  
        >   - Cloudflare Turnstile → `https://challenges.cloudflare.com/turnstile/v0/siteverify`.  
        >
        > 📌 **Integração frontend:**  
        > Inclua o script:
        >
        > **hCaptcha**
        > ```html
        > <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
        > <div class="h-captcha" data-sitekey="SEU_SITEKEY_HCAPTCHA"></div>
        > ```
        >
        > **Cloudflare Turnstile**
        > ```html
        > <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
        > <div class="cf-turnstile" data-sitekey="SEU_SITEKEY_TURNSTILE"></div>
        > ```

      operationId: createUserPublic
      requestBody:
        description: Dados do usuário e resposta do hCaptcha
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - full_name
                - password
              properties:
                email:
                  type: string
                  format: email
                  description: Endereço de e-mail do usuário
                full_name:
                  type: string
                  description: Nome completo do usuário
                password:
                  type: string
                  format: password
                  description: |
                    A nova senha para a conta.
                    Deve conter no mínimo 8 caracteres, incluindo:
                    - Pelo menos uma letra maiúscula
                    - Pelo menos uma letra minúscula
                    - Pelo menos um número
                    - Pelo menos um caractere especial
                  pattern: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).{8,}$/
                h-captcha-response:
                  type: string
                  description: Token retornado pelo widget do hCaptcha após resolução bem-sucedida
                  example: "03AGdBq24PcL...[token truncado]"
                cf-turnstile-response:
                  type: string
                  description: Token retornado pelo widget do Cloudflare Turnstile após resolução bem-sucedida
                  example: "0x4AAAAAAABgjUkJ1j5rPvHX...[token truncado]"
              oneOf:
                - required: [h-captcha-response]
                - required: [cf-turnstile-response]
              minProperties: 4
            examples:
              createUserPublicRequest:
                summary: Exemplo de requisição com hCaptcha
                value:
                  email: "ana.costa@exemplo.com"
                  full_name: "Ana Costa"
                  password: "MinhaSenha123!"
                  h-captcha-response: "03AGdBq24PcLxyz..."
      responses:
        "201":
          description: Usuário criado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    readOnly: true
                    example: 105
                  status:
                    type: string
                    enum: [pending, active, blocked]
                    default: pending
                    example: pending
                  created_at:
                    type: string
                    format: date-time
                    readOnly: true
                    example: "2025-10-31T15:45:00Z"
        "400":
          description: Requisição inválida — dados ausentes, senha fraca ou hCaptcha inválido/expirado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflito — o e-mail já está em uso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: EMAIL_ALREADY_IN_USE

  /users/activate:
    post:
      tags:
        - Usuários
      summary: Ativar usuário
      description: |
        Ativa uma conta de usuário previamente criada no sistema Brise Cloud usando um token de ativação enviado por e-mail.

        > ℹ️ **Observações:**  
        > - O token de ativação expira após 7 dias.  
        > - A qualquer momento, antes ou depois de expirar, pode ser solicitado o reenvio do token através de outro endpoint.  
        > - Após a ativação, o status do usuário passa de `pending` para `active`.
        >
        > 🚨 **Nota Importante:**  
        > O path deste deve ser alterado para algo menos óbvio quando for para produção, para evitar spam e ataques de força bruta uma vez que não requer autenticação.
      operationId: activateUser
      requestBody:
        description: Dados necessários para ativação do usuário
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - token
              properties:
                email:
                  type: string
                  format: email
                  description: Endereço de e-mail do usuário a ser ativado
                token:
                  type: string
                  description: Código de verificação recebido por e-mail
            examples:
              activateUserRequest:
                summary: Exemplo de requisição para ativação de usuário
                value:
                  email: "joao.silva@exemplo.com"
                  token: "123456"
      responses:
        "200":
          description: Usuário ativado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 101
                  status:
                    type: string
                    enum: [pending, active, blocked]
                    example: active
                  updated_at:
                    type: string
                    format: date-time
                    example: "2025-09-22T14:00:00Z"
        "400":
          description: Requisição inválida. Token ou e-mail ausente ou incorreto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Token inválido.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: INVALID_TOKEN

  /users/resend-activation:
    post:
      tags:
        - Usuários
      summary: Reenviar token de ativação
      description: |
        Solicita o reenvio de um **novo token de ativação** para um usuário cuja conta ainda não foi ativada.

        > ℹ️ **Observações:**  
        > - Um **novo token** será enviado para o e-mail informado.  
        > - O token antigo é invalidado assim que o novo é gerado.  
        > - Pode ser solicitado a qualquer momento, mesmo que o token anterior tenha expirado.  
        > - Após receber o novo token, o usuário deve utilizá-lo para ativar sua conta através do endpoint `/users/activate`.
        >
        > 🛡️ **Segurança:**  
        > Aplicar **rate limiting** neste endpoint para prevenir abuso (envio massivo de e-mails).
        >
        > 🚨 **Nota Importante:**  
        > O path deste deve ser alterado para algo menos óbvio quando for para produção, para evitar spam e ataques de força bruta uma vez que não requer autenticação.
      operationId: resendActivationToken
      requestBody:
        description: E-mail do usuário que receberá o novo token de ativação
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  description: Endereço de e-mail do usuário que receberá o novo token
            examples:
              resendActivationRequest:
                summary: Exemplo de requisição para reenvio de token
                value:
                  email: "joao.silva@exemplo.com"
      responses:
        "200":
          description: Novo token de ativação enviado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Novo token de ativação enviado com sucesso para joao.silva@exemplo.com"
        "400":
          description: Requisição inválida. E-mail ausente ou formato incorreto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Usuário não encontrado ou já ativo.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: USER_NOT_FOUND

  /users/forgot-password:
    post:
      tags:
        - Usuários
      summary: Solicitar redefinição de senha
      description: |
        Inicia o fluxo de redefinição de senha para um usuário.

        O usuário informa seu e-mail e, se a conta existir e estiver ativa, a API gera um token de uso único e o envia para o endereço de e-mail cadastrado.

        > ℹ️ **Observações:**
        > - O token enviado por e-mail tem um tempo de expiração curto (ex: 1 hora).
        > - Para evitar que o endpoint seja usado para verificar a existência de e-mails no sistema, retornar uma resposta de sucesso genérica.
        >
        > 🛡️ **Segurança:**  
        > Aplicar **rate limiting** neste endpoint para prevenir abuso (envio massivo de e-mails).
        >
        > 🚨 **Nota Importante:**  
        > O path deste deve ser alterado para algo menos óbvio quando for para produção, para evitar spam e ataques de força bruta uma vez que não requer autenticação.

      operationId: forgotPassword
      requestBody:
        description: E-mail do usuário que esqueceu a senha.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  description: Endereço de e-mail da conta para a qual a redefinição de senha será solicitada.
            examples:
              forgotPasswordRequest:
                summary: Exemplo de requisição para redefinir senha
                value:
                  email: "joao.silva@exemplo.com"
      responses:
        "200":
          description: Solicitação recebida. Se o e-mail existir, um link de redefinição será enviado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "REQUEST_RECEIVED"

  /users/reset-password:
    post:
      tags:
        - Usuários
      summary: Redefinir senha
      description: |
        Conclui o fluxo de redefinição de senha.

        O usuário submete o token recebido por e-mail junto com sua nova senha. A API valida o token e, se for válido, atualiza a senha do usuário.

        > ℹ️ **Observações:**
        > - O token só pode ser usado uma vez e expira após um curto período.
      operationId: resetPassword
      parameters:
        - in: query
          name: email
          required: true
          description: O e-mail do usuário, para verificação cruzada.
          schema:
            type: string
            format: email
        - in: query
          name: recoveryToken
          required: true
          description: O token de redefinição recebido por e-mail.
          schema:
            type: string
      requestBody:
        description: A nova senha para a conta.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - password
              properties:
                password:
                  type: string
                  format: password
                  description: |
                    A nova senha para a conta.
                    Deve conter no mínimo 8 caracteres, incluindo:
                    - Pelo menos uma letra maiúscula
                    - Pelo menos uma letra minúscula
                    - Pelo menos um número
                    - Pelo menos um caractere especial
                  pattern: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).{8,}$/
            examples:
              resetPasswordRequest:
                summary: Exemplo de requisição para efetivar a redefinição
                value:
                  password: "NovaSenhaSuperForte123"
      responses:
        "200":
          description: Senha redefinida com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "RESET_SUCCESS"
        "400":
          description: Requisição inválida. O token é inválido, expirou ou os dados fornecidos não correspondem.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      tags:
        - Usuários
      summary: Redefinir senha
      description: |
        Exibe uma página HTML que permite ao usuário definir uma nova senha.

        Este endpoint é o destino do link enviado ao e-mail do usuário durante o fluxo de "esqueci minha senha".

        A página contem um formulário com dois campos para a nova senha (para confirmação), que, antes de ser submetido confirmará a consistência, e fará uma chamada `POST` para este mesmo endpoint para efetivar a alteração.
      operationId: getResetPasswordPage
      parameters:
        - in: query
          name: email
          required: true
          description: O e-mail do usuário, recebido no link de redefinição.
          schema:
            type: string
            format: email
        - in: query
          name: recoveryToken
          required: true
          description: O token de redefinição recebido por e-mail.
          schema:
            type: string
      responses:
        "200":
          description: Página de redefinição de senha exibida com sucesso.
          content:
            text/html:
              schema:
                type: string
                format: html

  /users/me/change-password:
    post:
      tags:
        - Usuários
      summary: Alterar a senha
      description: |
        Permite que um usuário autenticado altere sua própria senha.

        O usuário deve fornecer sua senha atual para verificação antes que a nova senha seja definida.

        > 🛡️ **Segurança:** Esta operação deve ser realizada por um usuário logado e autenticado. E é indicado que se aplique as melhores praticas, onde se solicite duas vezes o preenchimento da senha e se valide-as antes de encaminhar.
      operationId: changeCurrentUserPassword
      security:
        - bearerAuth: []
      requestBody:
        description: Senha atual e a nova senha desejada.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - password
                - new_password
              properties:
                password:
                  type: string
                  format: password
                  description: A senha atual da conta para verificação.
                new_password:
                  type: string
                  format: password
                  description: |
                    A nova senha para a conta.
                    Deve conter no mínimo 8 caracteres, incluindo:
                    - Pelo menos uma letra maiúscula
                    - Pelo menos uma letra minúscula
                    - Pelo menos um número
                    - Pelo menos um caractere especial
                  pattern: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).{8,}$/
            examples:
              changePasswordRequest:
                summary: Exemplo de requisição para alterar senha
                value:
                  password: "SenhaAntiga123"
                  new_password: "NovaSenhaSuperForte123"
      responses:
        "200":
          description: Senha alterada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: PASSWORD_CHANGED
        "400":
          description: Requisição inválida. A senha atual está incorreta ou a nova senha não atende aos requisitos.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Não autorizado (token ausente ou inválido).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: INVALID_CREDENTIALS
                    enum: [INVALID_CREDENTIALS, USER_BLOCKED, USER_PENDING]

  /users/me:
    get:
      tags:
        - Usuários
      summary: Obter perfil
      description: |
        Retorna as informações do perfil do usuário autenticado.

        > 🛡️ **Segurança:** Esta operação deve ser realizada por um usuário logado e autenticado.
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Dados do usuário retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 101
                  email:
                    type: string
                    format: email
                    example: "joao.silva@exemplo.com"
                  full_name:
                    type: string
                    example: "João Silva"
                  account_type:
                    type: string
                    enum: [personal, corporate]
                    example: personal
                  status:
                    type: string
                    enum: [pending, active, blocked]
                    example: active
                  updated_at:
                    type: string
                    format: date-time
                    example: "2025-09-10T15:30:00Z"
                  created_at:
                    type: string
                    format: date-time
                    example: "2025-09-09T10:00:00Z"
    patch:
      tags:
        - Usuários
      summary: Atualizar perfil
      description: |
        Permite que o usuário autenticado atualize suas próprias informações de perfil, como nome completo.

        Este endpoint utiliza o método `PATCH`, o que significa que apenas os campos enviados na requisição serão atualizados. Campos omitidos permanecerão inalterados.
      operationId: updateCurrentUser
      security:
        - bearerAuth: []
      requestBody:
        description: Campos do perfil do usuário a serem atualizados.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                full_name:
                  type: string
                  description: O novo nome completo do usuário.
      responses:
        "200":
          description: Perfil do usuário atualizado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: PROFILE_UPDATED
        "400":
          description: Requisição inválida ou dados mal formatados.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Não autorizado (token ausente ou inválido).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: INVALID_CREDENTIALS
                    enum: [INVALID_CREDENTIALS, USER_BLOCKED, USER_PENDING]
    delete:
      tags:
        - Usuários
      summary: Excluir usuário
      description: |
        Exclui permanentemente a conta do usuário autenticado. Ação irreversível.
        Requer a senha atual via query parameter como prova de identidade.

        > 🛡️ **Segurança:** A senha pode aparecer em logs de acesso (Nginx, ALB, Cloudflare, etc.) expondo este dado.
      operationId: deleteCurrentUserAccount
      security:
        - bearerAuth: []
      parameters:
        - name: password
          in: query
          required: true
          schema:
            type: string
            format: password
            description: Senha atual do usuário
            example: "MinhaSenha123!"
      responses:
        "204":
          description: Exclusão aceita
        "401":
          description: Não autorizado
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum: [INVALID_CREDENTIALS]
        "409":
          description: "Conflito (ex: owner único de corporação)"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum: [OWNER_CONFLICT]

  /users/login:
    post:
      tags:
        - Usuários
      summary: Autenticar usuário
      description: |
        Permite que um usuário autenticado acesse o sistema Brise Cloud utilizando e-mail e senha. 
        Retorna um token de sessão (JWT ou outro esquema de autenticação) que deve ser utilizado nas requisições subsequentes aos endpoints que requerem autenticação.

        > ℹ️ **Observações:**  
        > - Apenas usuários com status `active` podem se autenticar.  
        > - Usuários com status `pending` iniciaram automaticamente o processo de ativação, e um código de ativação é enviado para o e-mail cadastrado.  
        > - Usuários com status `blocked` não podem realizar login e receberão uma mensagem de erro apropriada.
        >
        > 🚨 **Nota Importante:**  
        > O path deste deve ser alterado para algo menos óbvio quando for para produção, para evitar spam e ataques de força bruta uma vez que não requer autenticação.
      operationId: loginUser
      requestBody:
        description: Credenciais do usuário
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  description: Endereço de e-mail do usuário
                password:
                  type: string
                  format: password
                  description: Senha do usuário
            examples:
              loginRequest:
                summary: Exemplo de requisição para autenticação de usuário
                value:
                  email: "joao.silva@exemplo.com"
                  password: "senhaSegura123"
      responses:
        "200":
          description: Login realizado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: Token de acesso para autenticação nos endpoints protegidos
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  refresh_token:
                    type: string
                    description: Token utilizado para renovar o token de acesso
                    example: "dGhpc2lzc2Ftb3JlZnJlc2h0b2tlbg=="
                  expires_in:
                    type: integer
                    format: int64
                    description: Tempo em segundos para expiração do token de acesso sendo o padrão (48 horas)
                    default: 172800
                    example: 172800
                  token_type:
                    type: string
                    description: Tipo do token emitido
                    example: "Bearer"
        "400":
          description: Requisição inválida. Campos obrigatórios ausentes ou formato incorreto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: |
            Credenciais inválidas ou usuário não ativo.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: INVALID_CREDENTIALS
                    enum: [INVALID_CREDENTIALS, USER_BLOCKED, USER_PENDING]

  /users/external-tokens:
    get:
      tags:
        - Usuários
      summary: Receber Tokens de APIs Externas 🚩Adicionado
      description: |
        Recebe os tokens de acesso para serviços externos IoT
      operationId: externalTokens
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Lista de tokens retornada com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    user_id:
                      type: integer
                    service_name:
                      type: string
                    access_token:
                      type: string
                    refresh_token:
                      type: string
                    identity_token:
                      type: string
              examples:
                tokensList:
                  summary: Exemplo de lista de corporações
                  value:
                    - id: 2
                      user_id: 101
                      service_name: "SamsangSmartThings"
                      access_token: "ABCDE"
                      refresh_token: "ABCDE"
                      identity_token: "ABCDE"
                    - id: 3
                      user_id: 101
                      service_name: "eLeGeThinQ"
                      access_token: "ABCDE"
                      refresh_token: "ABCDE"
                      identity_token: "ABCDE"
        "401":
          description: Não autorizado (token ausente ou inválido).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: INVALID_TOKEN

  /corporations:
    post:
      tags:
        - Corporações
      summary: Criar corporação
      description: |
        Registra uma nova **corporação** no sistema Brise Cloud.  

        O usuário autenticado que realiza a requisição é automaticamente convertido em um **usuário corporativo**, tornando-se o **owner** da corporação.  

        O vínculo entre usuário e corporação é estabelecido internamente pela API, e o campo `owner_id` é definido de forma automática, sem necessidade de envio pelo cliente.
      operationId: createCorporation
      security:
        - bearerAuth: []
      requestBody:
        description: Dados da corporação a ser criada
        required: true
        content:
          application/json:
            schema:
              required:
                - name
                - tax_id
              type: object
              properties:
                name:
                  type: string
                  description: Nome fantasia da corporação
                  example: "Tech Solutions Ltda."
                tax_id:
                  type: string
                  description: CNPJ da corporação
                  example: "12.345.678/0001-90"
      responses:
        "201":
          description: Corporação criada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 301
                  status:
                    type: string
                    enum: ["active", "suspended", "deleted"]
                    example: active
                  created_at:
                    type: string
                    format: date-time
                    example: "2025-09-22T15:30:00Z"
        "400":
          description: Requisição inválida, dados ausentes ou incorretos.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflito, corporação com mesmo CNPJ já existe.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: CORPORATION_ALREADY_EXISTS
        "401":
          description: Não autorizado (token ausente ou inválido).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: INVALID_TOKEN
    get:
      tags:
        - Corporações
      summary: Listar corporações
      description: |
        Retorna a lista de corporações às quais o usuário autenticado está vinculado, seja como **owner** ou como membro corporativo.
      operationId: listCorporations
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Lista de corporações retornada com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    tax_id:
                      type: string
                    owner_id:
                      type: integer
                    status:
                      type: string
                      enum: ["active", "suspended", "deleted"]
                    created_at:
                      type: string
                      format: date-time
                    updated_at:
                      type: string
                      format: date-time
              examples:
                corporationList:
                  summary: Exemplo de lista de corporações
                  value:
                    - id: 301
                      name: "Tech Solutions Ltda."
                      tax_id: "12.345.678/0001-90"
                      owner_id: 101
                      status: active
                      created_at: "2025-09-22T15:30:00Z"
                      updated_at: "2025-10-01T10:00:00Z"
                    - id: 302
                      name: "InovaTech S.A."
                      tax_id: "98.765.432/0001-12"
                      owner_id: 102
                      status: suspended
                      created_at: "2024-05-15T09:20:00Z"
                      updated_at: "2025-08-30T14:45:00Z"
        "401":
          description: Não autorizado (token ausente ou inválido).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: INVALID_TOKEN

  /corporations/{corporation_id}:
    get:
      tags:
        - Corporações
      summary: Obter dados de corporação
      description: |
        Retorna as informações detalhadas de uma corporação específica no Brise Cloud.

        O usuário precisa estar associado à corporação como proprietário ou administrador para acessá-la.
      operationId: getCorporationById
      security:
        - bearerAuth: []
      parameters:
        - name: corporation_id
          in: path
          required: true
          schema:
            type: integer
          description: ID da corporação
      responses:
        "200":
          description: Dados da corporação retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 301
                  name:
                    type: string
                    example: "Tech Solutions Ltda."
                  tax_id:
                    type: string
                    example: "12.345.678/0001-90"
                  owner_id:
                    type: integer
                    example: 101
                  status:
                    type: string
                    enum: ["active", "suspended", "deleted"]
                    example: active
                  created_at:
                    type: string
                    format: date-time
                    example: "2025-09-22T15:30:00Z"
                  updated_at:
                    type: string
                    format: date-time
                    example: "2025-10-01T10:00:00Z"
        "400":
          description: Requisição inválida. Campos ausentes ou incorretos.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Corporação não encontrada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: CORPORATION_NOT_FOUND
    patch:
      tags:
        - Corporações
      summary: Transferir corporação
      description: |
        Transfere a propriedade de uma corporação para outro usuário.

        > ⚠️ **Atenção:** Esta é uma operação crítica e irreversível. O usuário que inicia a transferência deve ser o **owner atual** da corporação e deve confirmar a ação fornecendo sua senha.

        O novo proprietário (`new_owner_id`) deve ser um usuário existente no sistema.
        Após a transferência, o antigo proprietário se tornará um membro regular da corporação (ou um administrador, ou deixa de ser membro).

        O novo proprietariao deve ser menbro ativo da coporação? Ele deve aceitar esta transferência?
      operationId: transferCorporationOwnership
      security:
        - bearerAuth: []
      parameters:
        - name: corporation_id
          in: path
          required: true
          schema:
            type: integer
          description: ID da corporação para a qual a propriedade será transferida
      requestBody:
        description: Dados para a transferência de propriedade
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - new_owner_id
                - current_owner_password
              properties:
                new_owner_id:
                  type: integer
                  description: ID do usuário que se tornará o novo proprietário da corporação.
                  example: 102
                current_owner_password:
                  type: string
                  format: password
                  description: Senha do proprietário atual para confirmar a transferência.
            examples:
              transferOwnershipRequest:
                summary: Exemplo de requisição para transferir propriedade
                value:
                  new_owner_id: 102
                  current_owner_password: "SenhaDoOwnerAtual123!"
      responses:
        "200":
          description: Propriedade da corporação transferida com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OWNERSHIP_TRANSFERRED_SUCCESSFULLY
        "400":
          description: "Requisição inválida (ex: senha incorreta, novo proprietário inválido)."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Acesso negado. O usuário autenticado não é o owner atual da corporação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: FORBIDDEN_ACCESS
        "404":
          description: Corporação ou novo proprietário não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: CORPORATION_NOT_FOUND
    delete:
      tags:
        - Corporações
      summary: Excluir corporação
      description: |
        Exclui permanentemente uma corporação com anonimização imediata de dados. Esta ação é irreversível.

        Apenas o **owner** da corporação tem permissão para realizar esta operação.
      operationId: deleteCorporation
      security:
        - bearerAuth: []
      parameters:
        - name: corporation_id
          in: path
          required: true
          schema:
            type: integer
          description: ID da corporação a ser excluída
      responses:
        "204":
          description: Exclusão aceita
        "403":
          description: Acesso negado. O usuário não é o owner da corporação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: FORBIDDEN_ACCESS
        "404":
          description: Corporação não encontrada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: CORPORATION_NOT_FOUND

  /corporations/{corporation_id}/members:
    get:
      tags:
        - Corporações
      summary: Listar membros da corporação
      description: |
        Retorna a lista de usuários vinculados a uma corporação, incluindo o **owner** e os membros corporativos.  

        > ⚠️ **Nota:** 
        > Apenas usuários administradores da corporação podem acessar esta informação.
      operationId: listCorporationMembers
      security:
        - bearerAuth: []
      parameters:
        - name: corporation_id
          in: path
          required: true
          schema:
            type: integer
          description: ID da corporação
      responses:
        "200":
          description: Lista de membros retornada com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    user_id:
                      type: integer
                      description: ID do usuário
                      example: 202
                    email:
                      type: string
                      description: E-mail do usuário
                      example: "pedro.rabello@empresa.com"
                    full_name:
                      type: string
                      description: Nome completo do usuário
                      example: "Pedro Rabello"
                    role:
                      type: string
                      enum: [owner, admin, user]
                      description: Papel do usuário na corporação (owner, admin ou user)
                      example: "admin"
                    member_status:
                      type: string
                      enum: [pending, active, rejected, revoked]
                      description: Status do vínculo do usuário com a corporação
                      example: pending
                    user_status:
                      type: string
                      enum: [active, pending, blocked]
                      description: Status da conta do usuário no sistema
                      example: active
                    created_at:
                      type: string
                      format: date-time
                      description: Data de criação do vínculo
                      example: "2023-01-01T12:00:00Z"
              examples:
                memberList:
                  summary: Exemplo de lista de membros de uma corporação
                  value:
                    - user_id: 202
                      email: "pedro.rabello@empresa.com"
                      full_name: "Pedro Rabello"
                      role: "owner"
                      member_status: "active"
                      user_status: "active"
                      created_at: "2023-01-01T12:00:00Z"
                      updated_at: "2023-01-10T15:30:00Z"
                    - user_id: 203
                      email: "maria.esteves@empresa.com"
                      full_name: "Maria Esteves"
                      role: "user"
                      member_status: "rejected"
                      user_status: "active"
                      created_at: "2023-02-05T09:20:00Z"
                      updated_at: "2023-02-15T11:45:00Z"
                    - user_id: 204
                      email: "carlos.garcia@empresa.com"
                      full_name: "Carlos Garcia"
                      role: "admin"
                      member_status: "pending"
                      user_status: "active"
                      created_at: "2023-03-10T14:00:00Z"
                      updated_at: "2023-03-12T16:30:00Z"
        "403":
          description: Usuário não possui acesso a esta corporação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: ACCESS_DENIED
        "404":
          description: Corporação não encontrada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: CORPORATION_NOT_FOUND
    post:
      tags:
        - Corporações
      summary: Adicionar membro à corporação
      description: |
        Adiciona um novo membro a uma corporação.  

        Caso o e-mail informado ainda **não esteja registrado**, cria um novo usuário com `user_status = pending`.  
        Em ambos os casos, o vínculo será criado inicialmente com `member_status = pending`.  

        O usuário só passa a integrar efetivamente a corporação após confirmar o e-mail e posterior aceitar o convite.

        > ⚠️ **Nota:** 
        > Apenas usuários **administradores** da corporação podem adicionar novos membros.
      operationId: addCorporationMember
      security:
        - bearerAuth: []
      parameters:
        - name: corporation_id
          in: path
          required: true
          schema:
            type: integer
          description: ID da corporação
      requestBody:
        description: Dados do usuário a ser adicionado como membro
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - role
              properties:
                email:
                  type: string
                  format: email
                  description: E-mail do usuário a ser adicionado (deve estar registrado no sistema)
                  example: "pedro.rabello@empresa.com"
                full_name:
                  type: string
                  description: Nome completo do usuário. Obrigatório se o usuário ainda não existir.
                  example: "Pedro Rabello"
                password:
                  type: string
                  format: password
                  description: Senha do usuário (mínimo 8 caracteres). Obrigatório se o usuário ainda não existir.
                  example: "senhaSegura123"
                role:
                  type: string
                  enum: ["admin", "user"]
                  description: Papel do usuário na corporação (admin ou user)
                  example: "admin"

      responses:
        "201":
          description: Membro adicionado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: integer
                    description: ID do usuário
                    example: 203
                  member_status:
                    type: string
                    enum: [pending, active, rejected, revoked]
                    description: Status do vínculo do usuário com a corporação
                    example: pending
                  user_status:
                    type: string
                    enum: [active, pending, blocked]
                    description: Status da conta do usuário no sistema
                    example: active
                  created_at:
                    type: string
                    format: date-time
                    description: Data de criação do vínculo
                    example: "2023-01-01T12:00:00Z"
        "400":
          description: Requisição inválida. Campos ausentes ou incorretos.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Usuário não possui acesso a esta corporação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: ACCESS_DENIED
        "404":
          description: Corporação ou usuário não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: CORPORATION_NOT_FOUND
        "409":
          description: Conflito, usuário já é membro da corporação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: USER_ALREADY_MEMBER

  /applications:
    post:
      tags:
        - Aplicações
      summary: Solicitar cadastro
      description: |
        Permite que um usuário registrado no Brise Cloud solicite o cadastro de uma aplicação
        que poderá interagir com a API via OAuth2. Após a análise da equipe, será atribuído
        um `client_id` e `client_secret`.

        > ℹ️ Observações:
        > - O usuário deve existir no Brise Cloud.
        > - A solicitação será criada com status `pending` até ser avaliada.
        > - Campos obrigatórios: `name`, `email`, `contact_name`, `contact_phone`.
        > 🚨 **Nota Importante:**  
        > Quando houver a plataforma implementada as solicitações deverão ser atraves dela e por tanto respeitando as regras de segurança, deixando de ser um endpoint publico.
      operationId: createApplication
      requestBody:
        description: Dados da aplicação a ser registrada
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - contact_name
                - contact_phone
              properties:
                name:
                  type: string
                  description: Nome da aplicação
                  example: "Meu Sistema de Gestão"
                email:
                  type: string
                  format: email
                  description: E-mail do proprietário (usuário Brise Cloud)
                  example: "usuario@exemplo.com"
                contact_name:
                  type: string
                  description: Nome de contato da aplicação
                  example: "João Silva"
                contact_phone:
                  type: string
                  description: Telefone de contato da aplicação
                  example: "+55 (11) 99999-9999"
                redirect_uri:
                  type: string
                  description: URI de callback OAuth2 (opcional)
                  example: "https://meuapp.com/oauth/callback"
      responses:
        "201":
          description: Solicitação registrada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 501
                  status:
                    type: string
                    enum: [pending, active, revoked]
                    example: pending
                  created_at:
                    type: string
                    format: date-time
                    example: "2025-09-24T14:00:00Z"
                  message:
                    type: string
                    example: "Solicitação registrada com sucesso. A equipe irá analisar e liberar os dados."
        "400":
          description: Requisição inválida. Campos ausentes ou incorretos.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Usuário não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: USER_NOT_FOUND
        "409":
          description: Conflito, aplicação com mesmo nome ou e-mail já existe.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: APPLICATION_ALREADY_EXISTS

  /system/firmware/latest:
    get:
      tags:
        - Sistema
      summary: Última Versão 🔑🚩Adicionado
      description: |
        Retorna as informações sobre a versão mais recente do firmware disponível para download.

        > ⚠️ **Privado**: Este endpoint é de uso interno e não deve ser divulgado na documentação pública.
      operationId: getLatestFirmwareVersion
      parameters:
        - name: software
          in: query
          required: false
          schema:
            type: string
            default: "briseII"
          description: Nome do software a ser consultado. Se não informado, utiliza "briseII" por padrão.
          example: "briseII"
      responses:
        "200":
          description: Informações da última versão do firmware.
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    description: A versão mais recente do firmware.
                    example: "v3.1.2"
                  release_notes:
                    type: string
                    description: Notas de lançamento da versão.
                    example: "Melhorias de estabilidade e conexão Wi-Fi."
                  release_date:
                    type: string
                    format: date-time
                    description: Data de lançamento da atualização.
                    example: "2026-09-29T10:00:00Z"
        "500":
          description: Erro interno ao consultar a versão.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /system/firmware/{version}/download:
    get:
      tags:
        - Sistema
      summary: Baixar Firmware 🔑🚩Adicionado
      description: |
        Permite baixar o arquivo binário (.bin) correspondente a uma versão específica de firmware.

        > ⚠️ **Privado**: Este endpoint é de uso interno e não deve ser divulgado na documentação pública.
      operationId: downloadFirmwareVersion
      parameters:
        - name: version
          in: path
          required: true
          schema:
            type: string
          description: A versão do firmware solicitada.
          example: "v3.1.2"
        - name: software
          in: query
          required: false
          schema:
            type: string
            default: "briseII"
          description: Nome do software a ser baixado. Se não informado, utiliza "briseII" por padrão.
          example: "briseII"
      responses:
        "200":
          description: Arquivo binário do firmware baixado com sucesso.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "404":
          description: Versão de firmware não encontrada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Erro interno ao tentar baixar o arquivo.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /system/update_url/{device}:
    post:
      tags:
        - Sistema
      summary: Atualização Download 🔑🚩Adicionado
      description: |
        Envia-se a URL de um servidor remoto que contém o arquivo binário de firmware.  
        O dispositivo fará o download do arquivo, verificará sua integridade, aplicará a atualização e reiniciará automaticamente.

        > ⚠️ **Privado**: Este endpoint é de uso interno e não deve ser divulgado na documentação pública.
      x-internal: true
      operationId: systemUpdateByUrl
      security:
        - bearerAuth: []
      parameters:
        - name: device
          in: path
          required: true
          schema:
            type: string
          description: Número de série do dispositivo a ser atualizado
          example: "200000"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - url
              properties:
                url:
                  type: string
                  format: uri
                  description: URL direta para download do arquivo binário (.bin)
                  example: "https://brise.com.br/fw/v1.0.1_firmware.bin"
      responses:
        "202":
          description: Comando de atualização aceito e encaminhado ao dispositivo.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Comando de atualização enviado para o dispositivo BRS123456789."
        "400":
          description: Requisição inválida (URL mal formatada, etc.).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Não autorizado (token ausente ou inválido).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Dispositivo não encontrado ou não está online.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: DEVICE_NOT_FOUND
        "500":
          description: Erro ao processar o comando no servidor Cloud.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /automations/{device}:
    post:
      tags:
        - Rotinas
      summary: Cria, Edita ou Reordena Rotinas 🔑🚩Adicionado
      description: |
        Encaminha uma solicitação ao dispositivo para realizar operações sobre rotinas de automação.

        O comportamento depende do tipo de corpo enviado:

        **Objeto único** — executa uma operação pontual sobre uma rotina:

        | Conteúdo do objeto | Operação |
        |--------------------|----------|
        | Sem `id` (ou `id` inexistente no dispositivo) | **Cria** nova rotina — o dispositivo atribui um `id` automaticamente |
        | `id` existente + outros campos | **Atualiza** a rotina correspondente |
        | `id` + `idx` | **Reordena** — move a rotina para a posição `idx` (0-based) na lista |

        > 🔑 **Privado**: O envio de um array é de uso interno e não deve ser divulgado na documentação pública.
        > O envio de um array **sobrescreve** todas as rotinas existentes no dispositivo. Use com cautela.
      x-internal: false
      operationId: automationsPost
      security:
        - bearerAuth: []
      parameters:
        - name: device
          in: path
          required: true
          schema:
            type: string
          description: Número de série do dispositivo a ser configurado.
          example: "200000"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/Routine"
                - $ref: "#/components/schemas/RoutineReorderRequest"
                - type: array
                  description: |
                    🔑 Uso interno. Substituição completa da lista de rotinas do dispositivo.
                    Todas as rotinas existentes serão removidas e substituídas pelas do array.
                  items:
                    $ref: "#/components/schemas/Routine"
            examples:
              criar:
                summary: Criar nova rotina
                value:
                  name: "Turno da Noite"
                  en: true
                  ex: false
                  cond:
                    op: AND
                    tr:
                      - tp: daily
                        val: 1320
                  act:
                    - cmd: AC_SET
                      pwr: true
                      md: cool
                      temp: 22
                      fan: 2
              atualizar:
                summary: Atualizar rotina existente
                value:
                  id: "3044d20e-a02c-4a9a-8508-25f92599622e"
                  name: "Turno da Noite (Atualizado)"
                  en: false
              reordenar:
                summary: Mover rotina para a primeira posição
                value:
                  id: "3044d20e-a02c-4a9a-8508-25f92599622e"
                  idx: 0
              sincronizar:
                summary: 🔑 Substituição completa — Uso interno
                value:
                  - id: "3044d20e-a02c-4a9a-8508-25f92599622e"
                    name: "Turno da Noite"
                    en: true
                    ex: false
                    cond:
                      op: AND
                      tr:
                        - tp: daily
                          val: 1320
                    act:
                      - cmd: AC_SET
                        pwr: true
                        md: cool
                        temp: 22
                        fan: 2
                  - name: "Modo Econômico"
                    en: true
                    ex: false
                    cond:
                      op: AND
                      tr:
                        - tp: daily
                          val: 480
                    act:
                      - cmd: AC_SET
                        pwr: true
                        md: cool
                        temp: 24
                        fan: 1
      responses:
        "200":
          description: Operação(ões) executada(s) com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indica se todas as operações foram processadas com sucesso.
                    example: true
        "400":
          description: Requisição inválida — JSON malformado ou campos obrigatórios ausentes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Token de autenticação Cloud ausente ou inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Usuário sem permissão suficiente sobre o dispositivo (`manager`/`owner` obrigatório).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Dispositivo não encontrado ou não cadastrado na conta.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: O dispositivo está offline ou processando outra operação (`SYSTEM_BUSY`). Tente novamente em instantes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      tags:
        - Rotinas
      summary: Lista Rotinas 🚩Adicionado
      description: |
        Retorna todas as rotinas configuradas no dispositivo, na ordem de prioridade, da mais alta para a mais baixa.

        > ⚠️ O parâmetro `id` pode ser informado para filtrar uma rotina específica. A resposta **sempre é um array** — com um único elemento quando `id` é fornecido e a rotina existe, ou vazio caso não seja encontrada.
      operationId: automationsGet
      security:
        - bearerAuth: []
      parameters:
        - name: device
          in: path
          required: true
          schema:
            type: string
          description: Número de série do dispositivo.
          example: "200000"
        - name: id
          in: query
          required: false
          description: Identificador da rotina. Quando informado, retorna array com apenas a rotina correspondente.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Lista de rotinas (zero ou mais elementos).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Routine"
        "401":
          description: Token de autenticação Cloud ausente ou inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Usuário sem permissão para acessar o dispositivo.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Dispositivo não encontrado ou não cadastrado na conta.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: O dispositivo está offline ou indisponível.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags:
        - Rotinas
      summary: Remove Rotina(s) 🚩Adicionado
      description: |
        Permite apagar rotinas de automação do dispositivo. Você pode apagar apenas uma rotina ou várias de uma vez só, dependendo de como envia a requisição.
      operationId: automationsDelete
      security:
        - bearerAuth: []
      parameters:
        - name: device
          in: path
          required: true
          schema:
            type: string
          description: Número de série do dispositivo.
          example: "200000"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/RoutineDeleteRequest"
                - $ref: "#/components/schemas/RoutineDeleteMultipleRequest"
                - type: array
                  description: Lista de identificadores únicos (UUID) das rotinas a remover em lote.
                  items:
                    type: string
                    format: uuid
            examples:
              unica:
                summary: Remover uma rotina (objeto com id)
                value:
                  id: "3044d20e-a02c-4a9a-8508-25f92599622e"
              multiplas_obj:
                summary: Remover múltiplas rotinas (objeto com ids)
                value:
                  ids:
                    - "3044d20e-a02c-4a9a-8508-25f92599622e"
                    - "7a1b2c3d-4e5f-6789-abcd-ef0123456789"
              multiplas_array:
                summary: Remover múltiplas rotinas (array de strings)
                value:
                  - "3044d20e-a02c-4a9a-8508-25f92599622e"
                  - "7a1b2c3d-4e5f-6789-abcd-ef0123456789"
      responses:
        "200":
          description: Rotina(s) removida(s) com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          description: Requisição inválida — `id` ausente ou formato incorreto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Token de autenticação Cloud ausente ou inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Usuário sem permissão suficiente sobre o dispositivo (`manager`/`owner` obrigatório).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Dispositivo não encontrado ou não cadastrado na conta.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: O dispositivo está offline ou processando outra operação (`SYSTEM_BUSY`). Tente novamente em instantes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /access/vouchers/{device}:
    post:
      tags:
        - Acesso
      summary: Compartilha Dispositivo 🚩Adicionado
      description: |
        Inicia o fluxo de compartilhamento do dispositivo `{device}` para outro usuário.
        O serviço criará o convite pendente e notificará o destinatário via e-mail.
        Não é gerado um código de voucher para compartilhamento manual via link.
      security:
        - bearerAuth: []
      parameters:
        - name: device
          in: path
          required: true
          schema:
            type: string
          description: Número de série do dispositivo a ser compartilhado.
          example: "200000"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - role
                - grantee_email
              properties:
                role:
                  $ref: "#/components/schemas/AccessRole"
                grantee_email:
                  type: string
                  format: email
                  description: |
                    E-mail do usuário que receberá o convite para acesso ao dispositivo.
                    O usuário precisará aceitar o compartilhamento no App.
                  example: "maria@brise.com.br"
                path:
                  type: string
                  maxLength: 255
                  description: |
                    Sugestão do proprietário de onde o equipamento deve ser posicionado na árvore de grupos do destinatário (ex.: `Matriz/Piso 2/Sala de Reuniões`).
                  example: "Matriz/Piso 2/Sala de Reuniões"
      responses:
        "200":
          description: Compartilhamento iniciado e notificação enviada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VoucherCreated"
              examples:
                sucesso:
                  summary: Voucher de uso único
                  value:
                    expires_at: "2026-09-16T19:54:16"
                    voucher_code: "eyJlbWwiOiJ0aWFnby5kYXZpbGFAYWdzdC5jb20uYnIiLCJleHAiOjE3ODk1ODg0NTYsImp0aSI6ImNiOGZhNzgwLTUyOGMtNDAxMi04Y2U1LTEyMThhODBlMWFkNCIsInB0aCI6IkFHU1QiLCJyb2xlIjoib3BlcmF0b3IiLCJzcmwiOjIwMDAwMSwidXNlcyI6MX0=.0rWrte0VnCtW6URvF/7/ExM5e1AV5z7A2w+MBVZiX+A="
                    voucher_id: "cb8fa780-528c-4012-8ce5-1218a80e1ad4"
        "400":
          description: Parâmetros inválidos.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: |
            O usuário não possui privilégio para compartilhar o dispositivo, ou tentou conceder um papel superior ao próprio.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      tags:
        - Acesso
      summary: Lista Convites 🚩Adicionado
      description: |
        Retorna os convites pendentes de acesso que foram emitidos para o dispositivo `{device}` e que ainda não foram aceitos nem revogados.
      security:
        - bearerAuth: []
      parameters:
        - name: device
          in: path
          required: true
          schema:
            type: string
          description: Número de série do dispositivo.
          example: "200000"
      responses:
        "200":
          description: Lista de convites pendentes (vouchers).
          content:
            application/json:
              schema:
                type: object
                properties:
                  vouchers:
                    type: array
                    items:
                      $ref: "#/components/schemas/CloudVoucher"
              examples:
                exemplo:
                  value:
                    vouchers:
                      - expires_at: "2026-09-16T19:27:51"
                        uses_remaining: 1
                        voucher_id: "ed65b236-0fda-4bf5-a1b4-1a19cff4d443"
        "401":
          description: Token de acesso ausente ou inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: O usuário não possui permissão para listar convites.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Dispositivo não encontrado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags:
        - Acesso
      summary: Cancela Convite 🚩Adicionado
      description: |
        Revoga (cancela) um voucher pendente emitido para o dispositivo, tornando-o inválido para qualquer resgate futuro.

        Somente usuários com papel `manager` ou `owner` podem revogar vouchers emitidos pelo dispositivo.
      security:
        - bearerAuth: []
      parameters:
        - name: device
          in: path
          required: true
          schema:
            type: string
          description: Número de série do dispositivo.
          example: "200000"
        - name: voucher_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: Identificador do convite a ser cancelado.
          example: "b3c1f5a0-2e77-4a1b-9c3d-8f0e1a2b3c4d"
      responses:
        "200":
          description: Convite revogado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          description: Requisição inválida.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: O usuário não tem permissão para cancelar o convite.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Voucher não encontrado. Pode ter expirado, já sido revogado ou nunca ter sido emitido por este dispositivo.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /access/pending:
    get:
      tags:
        - Acesso
      summary: Lista Compartilhamentos 🚩Adicionado
      description: |
        Retorna a lista de dispositivos compartilhados com o usuário autenticado que estão aguardando sua aprovação (convites pendentes de aceite).
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Lista de convites pendentes de aceite para a conta do usuário.
          content:
            application/json:
              schema:
                type: object
                properties:
                  shares:
                    type: array
                    items:
                      $ref: "#/components/schemas/PendingShare"
        "401":
          description: Token de acesso ausente ou inválido.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /access/redeem:
    post:
      tags:
        - Acesso
      summary: Aceita Compartilhamento 🚩Adicionado
      description: |
        Aprova o recebimento de um dispositivo compartilhado (resgata o voucher).
        O usuário vincula o dispositivo à sua conta e consolida a permissão recebida.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
[...]
