openapi: 3.0.4
info:
  title: Brise Cloud API
  version: 3.0.1
  contact:
    name: AGST
    email: ped@agst.com.br
    url: https://www.agst.com.br
  description: |
    # Introdução

    A **Brise Cloud API** é a interface oficial para integração com o sistema Brise por meio do serviço remoto.  
    Ela permite que aplicações de automação se comuniquem com dispositivos Brise conectados ao serviço remoto **Brise Cloud**, facilitando a integração com sistemas de supervisão, gestão predial, automação residencial e industrial.

    Todas as requisições e respostas utilizam o formato **JSON**, garantindo interoperabilidade e facilidade de processamento em diferentes plataformas.

    > Além da solução remota, a **Brise LAN API** oferece comunicação direta com os dispositivos Brise dentro da mesma rede local, sem dependência de conexão com a internet.
    > 
    > Essa API é ideal para cenários onde:
    > - A conectividade com a internet não é confiável ou aceitável.
    > - Baixa latência é essencial.
    > - O controle local é prioritário por questões de segurança ou desempenho.

    ## Funcionalidades principais

    - **Consultar e controlar dispositivos Brise** conectados ao serviço remoto  
    - **Gerenciar grupos de dispositivos** e suas configurações centralizadas  
    - **Monitorar status em tempo real** e métricas operacionais  
    - **Integrar de forma unificada** com sistemas de terceiros via RESTful  

    As chamadas são baseadas em métodos **RESTful**, seguindo boas práticas de design de APIs, com autenticação segura e respostas padronizadas para facilitar o desenvolvimento e a manutenção.

servers:
  - url: "https://sandbox.brise.agst.com.br:8443/api/v3"
    description: Servidor local de desenvolvimento
  - url: "https://api.brise.agst.com.br/api/v3"
    description: Servidor de Produção

tags:
  - name: Autenticação
    description: |
      Este tópico descreve os métodos de autenticação disponíveis e como utilizá-los.  

      > ⚠️ **Recomendação**: Utilize OAuth 2.0 com fluxo `authorizationCode` para integrações seguras.

      <!-- ReDoc-Inject: <security-definitions> -->

      # 🚀 Primeiros Passos
      1. Registre seu aplicativo no [Portal de Desenvolvedores](https://brise.agst.com.br:8443/api/v3/sp/application.html) e [Portal de Desenvolvedores Sandbox](https://sandbox.brise.agst.com.br:8443/api/v3/sp/application.html)
      2. Obtenha `client_id` e `client_secret`
      3. Inicie o fluxo OAuth2 (veja as etapas nos endpoints `/oauth/authorize` e `/oauth/token`).
      4. Inclua o token nas requisições autenticadas.

      # 💡 Guia Implementação Plataforma Web (React)

      Esta seção descreve as responsabilidades da plataforma Web ao implementar o fluxo de autenticação.

      > 🚨 **Nota Importante:**  
      > Esta sessão deve ser removida da documentação, pois é de uso esclusivo do serviço da plataforma web e não deverá ser divulgada.

      ### Fluxo de Autenticação

      1.  **Carregamento da Aplicação**: Ao iniciar, a aplicação deve verificar os tokens (`access_token`, `refresh_token`) no `localStorage`.
          *   **Se `access_token` for válido**: A aplicação pode prosseguir para o estado autenticado.
          *   **Se `access_token` estiver expirado, mas existir um `refresh_token` válido**: A plataforma Web deve fazer uma requisição em primeiro plano para o endpoint `GET /oauth/token` usando o 'refresh_token'`.
              *   **Como fazer**: A aplicação React deve executar um **redirecionamento** do navegador para o endpoint `GET /oauth/token`, passando o `refresh_token` e um parâmetro `state` (valor aleatório para proteção CSRF) na URL. Ex: `window.location.href = '.../oauth/token?refresh_token=SEU_TOKEN&state=VALOR_ALEATORIO'`.
              *   **Sucesso**: O backend irá processar o `refresh_token`, gerar novos tokens (`access_token` e `refresh_token`), injetá-los no `localStorage` e recarregar a aplicação.
              *   **Falha**: Se o `refresh_token` for inválido ou expirado, o backend redirecionará para a página de login. A aplicação deve limpar os tokens antigos do `localStorage`.
          *   **Se não existirem tokens ou o `refresh_token` for inválido**: A aplicação deve redirecionar o usuário para iniciar o fluxo de login OAuth2 (endpoint `/oauth/authorize`).

      2.  **Finalização do Fluxo OAuth2**: Após o usuário autorizar a aplicação e a API concluir a troca do `code` pelo `access_token`, a API fará o seguinte:
          *   **Injetará os tokens `access_token` e `refresh_token` diretamente no `localStorage`** do navegador.
          *   Retornará o HTML da aplicação React, que será recarregada, agora com uma sessão válida.

      ### Armazenamento e Uso dos Tokens

      *   **Armazenamento**: É **obrigatório** o uso de `localStorage` para armazenar os tokens, pois a API foi projetado para injetar `access_token` e `refresh_token` nesse local.

      *   **Uso**: A plataforma Web é responsável apenas por ler o `access_token` do `localStorage` e enviá-lo em todas as chamadas para endpoints protegidos, utilizando o cabeçalho `Authorization`:
          ```
          Authorization: Bearer ${access_token}
          ```
  - name: Usuários
    description: |
      Esta categoria abrange o gerenciamento de contas no sistema Brise Cloud. Ela permite criar novos usuários, enviar tokens de ativação, ativar contas pendentes e solicitar o reenvio de um novo token caso o anterior tenha expirado ou seja perdido. O objetivo é fornecer um processo seguro e consistente para que os usuários completem sua ativação e possam acessar os recursos do sistema.

      > ⚠️ **Nota importante:**  
      > Muitos dos endpoints deste grupo não requerem autenticação, pois são necessários para a criação da conta. A princípio, serão usados apenas por sistemas internos, integrando com o App, e **não serão divulgados na API pública**.
  - name: Corporações
    description: |
      Agrupa os conjuntos de endpoints responsáveis pelo gerenciamento de corporações no sistema.  

      Permite criar, consultar e manter informações das corporações, bem como gerenciar o vínculo entre usuários e suas respectivas organizações.
  - name: Aplicações
    description: |
      Agrupa os endpoints responsáveis pelo cadastro e gerenciamento de aplicações que poderão interagir com a API Brise Cloud via OAuth2.  

      > ℹ️ Observações:
      > - Cada aplicação pertence a um usuário registrado (`owner_id`).  
      > - Após o cadastro, a aplicação fica com status `pending` até avaliação da equipe.  
      > - Após liberação, o sistema fornece `client_id` e `client_secret`.
paths:
  /oauth/authorize:
    get:
      tags:
        - Autenticação
      summary: Fluxo OAuth2
      description: |
        Este é o primeiro passo do fluxo de autorização OAuth2. O objetivo é obter o consentimento do usuário para que sua aplicação possa acessar os dados dele no Brise Cloud.

        **Como funciona:**
        1. Sua aplicação redireciona o usuário para esta página.
        2. O usuário faz o login no Brise Cloud (se ainda não estiver logado) e vê uma tela de consentimento, informando quais permissões sua aplicação está solicitando.
        3. Se o usuário aprovar, ele será redirecionado de volta para a `redirect_uri` que você especificou, recebendo um **código de autorização** temporário (`code`) como parâmetro na URL.

        Este `code` é a prova de que o usuário autorizou sua aplicação. O próximo passo é trocá-lo por um `access_token` no endpoint `/oauth/token`.

        > **Segurança:** Para aplicações web (SPAs) e mobile, é altamente recomendado o uso do fluxo **Authorization Code com PKCE**, que adiciona uma camada extra de segurança.

      operationId: oauthAuthorize
      parameters:
        - name: response_type
          in: query
          required: true
          schema:
            type: string
            enum: [code]
          description: Deve ser `code` para o Authorization Code Flow
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: Client ID da aplicação registrada
          example: "app_1234567890abcdef"
        - name: redirect_uri
          in: query
          required: true
          schema:
            type: string
            format: uri
          description: |
            A URI para a qual o usuário será redirecionado após a autorização bem-sucedida.

            **Importante:** Este valor **deve** ser exatamente igual a um dos "Redirect URIs" que você cadastrou para sua aplicação no portal de desenvolvedores. A validação é feita por comparação exata de strings.
          example: "https://meuapp.com/oauth/callback"
        - name: state
          in: query
          required: false
          schema:
            type: string
          description: Valor opaco recomendado para proteção CSRF. Se enviado pelo cliente, deve ser retornado intacto no redirecionamento.
          example: "xyz789state123"
        - name: code_challenge
          in: query
          required: false
          schema:
            type: string
          description: Obrigatório quando usar PKCE. Gerado a partir do code_verifier
          example: "E9Melhoa2OwvFrEMTJguCHaoeK1t8URWbuGJSstw-cM"
      responses:
        "302":
          description: Redireciona para a tela de login/consentimento ou diretamente para o redirect_uri com o `code`
          headers:
            Location:
              description: URL de redirecionamento contendo `code` e `state` (ou página de erro)
              schema:
                type: string
                example: "https://meuapp.com/oauth/callback?code=SplxlOBeZQQYbYS6WxSbIA&state=xyz789state123"

  /oauth/token:
    post:
      tags:
        - Autenticação
      summary: Trocar code por tokens
      description: |
        Este é o segundo e último passo do fluxo de autorização. Sua aplicação utiliza este endpoint para trocar o `code` (código de autorização temporário) obtido na etapa anterior por um **access_token**.

        É com o `access_token` que sua aplicação poderá fazer chamadas autenticadas à API Brise Cloud em nome do usuário.

        Este endpoint também é utilizado para renovar um `access_token` expirado, usando o `refresh_token`.

        **Tipos de requisição (grant_type):**
        - `authorization_code`: Use esta opção para a troca inicial do `code` por um `access_token`.
        - `refresh_token`: Use esta opção para obter um novo `access_token` quando o atual expirar, sem que o usuário precise autorizar novamente.

      operationId: oauthToken
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              oneOf:
                - $ref: "#/components/schemas/TokenRequestAuthorizationCode"
                - $ref: "#/components/schemas/TokenRequestRefreshToken"
              discriminator:
                propertyName: grant_type
                mapping:
                  authorization_code: "#/components/schemas/TokenRequestAuthorizationCode"
                  refresh_token: "#/components/schemas/TokenRequestRefreshToken"
            examples:
              authorization_code:
                summary: Troca de code (com PKCE)
                value:
                  grant_type: authorization_code
                  code: SplxlOBeZQQYbYS6WxSbIA
                  redirect_uri: https://meuapp.com/oauth/callback
                  code_verifier: dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk
              refresh_token:
                summary: Renovação via refresh token
                value:
                  grant_type: refresh_token
                  refresh_token: dGhpc2lzc2Ftb3JlZnJlc2h0b2tlbg==
      responses:
        "200":
          description: Tokens emitidos com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: Token JWT de acesso
                    example: "eyJhbGciOiJSUzI1NiIsInR5cCI..."
                  token_type:
                    type: string
                    example: bearer
                  expires_in:
                    type: integer
                    description: "Tempo em segundos para expiração do token de acesso sendo o padrão (48 horas)"
                    example: 172800
                  refresh_token:
                    type: string
                    description: Token para renovação (emitido apenas no primeiro authorization_code ou quando offline_access estiver no scope)
                    example: "dGhpc2lzc2Ftb3JlZnJlc2h0b2tlbg=="
                  scope:
                    type: string
                    description: Escopos concedidos
                    example: "devices:read devices:write offline_access"
        "400":
          description: code expirado, grant inválido ou credenciais do cliente inválidas.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: OAuth2 error code
                    enum: [invalid_request, invalid_client, invalid_grant]
                required:
                  - error
                examples:
                  invalid_grant:
                    summary: Código de autorização inválido ou expirado
                    value:
                      error: invalid_grant
                  invalid_client:
                    summary: Credenciais do cliente inválidas
                    value:
                      error: invalid_client
    get:
      tags:
        - Autenticação
      summary: Renovar Sessão
      description: |
        Este endpoint é projetado para renovar a sessão de um usuário na plataforma web de forma transparente, utilizando um `refresh_token` válido.

        **Como funciona o fluxo:**
        1. A aplicação, ao detectar que o `access_token` expirou mas existe um `refresh_token` no `localStorage`, **redireciona** o navegador do usuário para este endpoint.
        2. O `refresh_token` devem ser enviado como parâmetro de query na URL.
        3. A API valida o `refresh_token`.
           - **Se válido:** Gera um novo `access_token` e um novo `refresh_token`, os injeta diretamente no `localStorage` do navegador e retorna o HTML da aplicação, recarregando a página com a sessão renovada.
           - **Se inválido:** Redireciona o usuário para a página de login para que ele se autentique novamente.

        > 🚨 **Importante:** Este fluxo depende de um redirecionamento de página, pois a injeção de tokens é feita pelo servidor ao carregar a página.
      operationId: validateToken
      parameters:
        - in: query
          name: refresh_token
          required: true
          description: O `refresh_token` obtido anteriormente e armazenado no `localStorage`.
          schema:
            type: string
            example: "dGhpc2lzc2Ftb3JlZnJlc2h0b2tlbg=="
      responses:
        "200":
          description: Sessão renovada com sucesso. Os novos tokens serão recarregada no localStorage.
          content:
            text/html:
              schema:
                type: string
                format: html

  /oauth/token-validation:
    get:
      tags:
        - Autenticação
      summary: Validar token
      description: |
        Verifica se o token de autenticação fornecido é válido, ainda não expirou ou se foi revogado. 
        Este endpoint pode ser usado por aplicativos ou plataformas para confirmar a validade do token armazenado, evitando a necessidade de login completo.  

        É especialmente útil em cenários de **“lembrar login”**, permitindo que o sistema valide um token salvo localmente antes de solicitar novamente as credenciais do usuário, proporcionando uma experiência mais fluida e segura.
      operationId: tokenValidation
      security:
        - bearerAuth: []
      parameters:
        - in: header
          name: Authorization
          required: true
          description: Token de autenticação no formato `Bearer <access_token>`
          schema:
            type: string
            example: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
      responses:
        "200":
          description: Token válido.
          content:
            application/json:
              schema:
                type: object
                properties:
                  expires_at:
                    type: integer
                    format: int64
                    description: "Tempo em segundos para expiração do token de acesso sendo o padrão (48 horas)"
                    example: 172800
        "401":
          description: |
            Token inválido ou expirado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: INVALID_TOKEN
                    enum: [INVALID_TOKEN, EXPIRED_TOKEN, USER_NOT_FOUND]
        "402":
          description: |
            Assinatura necessária para acessar este recurso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: SUBSCRIPTION_REQUIRED

  /users-private:
    post:
      tags:
        - Usuários
      summary: Criar usuário (privado)
      description: |
        Registra um novo usuário no sistema Brise Cloud (usado pelo App).  
        Por padrão, a conta é criada com status `pending`.

        > ℹ️ **Observações:**  
        >- Um token de ativação é enviado para o e-mail informado no cadastro.  
        >- O token deve ser utilizado em outro endpoint para ativar a conta.  
        >- Contas corporativas devem ser criadas por administradores de organizações.

        > 🚨 **Nota Importante:**  
        > O path deste deve ser alterado para algo menos óbvio quando for para produção, para evitar spam e ataques de força bruta uma vez que não requer autenticação.
      operationId: createUser
      requestBody:
        description: Dados do usuário a ser criado
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - full_name
                - password
              properties:
                email:
                  type: string
                  format: email
                  description: Endereço de e-mail do usuário
                full_name:
                  type: string
                  description: Nome completo do usuário
                password:
                  type: string
                  format: password
                  description: Senha do usuário (mínimo 8 caracteres)
            examples:
              createUserRequest:
                summary: Exemplo de requisição para criação de usuário
                value:
                  email: "joao.silva@exemplo.com"
                  full_name: "João Silva"
                  password: "senhaSegura123"
      responses:
        "201":
          description: Usuário criado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    readOnly: true
                    example: 101
                  status:
                    type: string
                    enum: [pending, active, blocked]
                    default: pending
                    example: pending
                  created_at:
                    type: string
                    format: date-time
                    readOnly: true
                    example: "2025-09-09T10:00:00Z"
        "400":
          description: Requisição inválida. Verifique os dados enviados.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflito. O e-mail já está em uso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: EMAIL_ALREADY_IN_USE

  /users:
    post:
      tags:
        - Usuários
      summary: Criar usuário
      description: |
        Registra um novo usuário no sistema Brise Cloud.
        Requer validação anti-bot via **hCaptcha** ou **Cloudflare Turnstile** (pelo menos um dos dois tokens deve ser enviado) para prevenir abuso automatizado (bots, scripts, etc.).

        > ℹ️ **Fluxo:**  
        >- Um token de ativação é enviado para o e-mail informado.  
        >- A conta é criada com status `pending` até que o usuário clique no link de ativação.  
        >
        > 🛡️ **Segurança [Proteção anti-bot]:**  
        >- Este endpoint exige o parâmetro `h-captcha-response` ou `cf-turnstile-response` (gerado pelo widget do dos serviços).  
        >- A verificação é feita server-side junto às APIs: 
        >   - hCaptcha → `https://api.hcaptcha.com/siteverify`.  
        >   - Cloudflare Turnstile → `https://challenges.cloudflare.com/turnstile/v0/siteverify`.  
        >
        > 📌 **Integração frontend:**  
        > Inclua o script:
        >
        > **hCaptcha**
        > ```html
        > <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
        > <div class="h-captcha" data-sitekey="SEU_SITEKEY_HCAPTCHA"></div>
        > ```
        >
        > **Cloudflare Turnstile**
        > ```html
        > <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
        > <div class="cf-turnstile" data-sitekey="SEU_SITEKEY_TURNSTILE"></div>
        > ```

      operationId: createUserPublic
      requestBody:
        description: Dados do usuário e resposta do hCaptcha
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - full_name
                - password
              properties:
                email:
                  type: string
                  format: email
                  description: Endereço de e-mail do usuário
                full_name:
                  type: string
                  description: Nome completo do usuário
                password:
                  type: string
                  format: password
                  description: Senha do usuário (mínimo 8 caracteres)
                h-captcha-response:
                  type: string
                  description: Token retornado pelo widget do hCaptcha após resolução bem-sucedida
                  example: "03AGdBq24PcL...[token truncado]"
                cf-turnstile-response:
                  type: string
                  description: Token retornado pelo widget do Cloudflare Turnstile após resolução bem-sucedida
                  example: "0x4AAAAAAABgjUkJ1j5rPvHX...[token truncado]"
              oneOf:
                - required: [h-captcha-response]
                - required: [cf-turnstile-response]
              minProperties: 4
            examples:
              createUserPublicRequest:
                summary: Exemplo de requisição com hCaptcha
                value:
                  email: "ana.costa@exemplo.com"
                  full_name: "Ana Costa"
                  password: "MinhaSenha123!"
                  h-captcha-response: "03AGdBq24PcLxyz..."
      responses:
        "201":
          description: Usuário criado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    readOnly: true
                    example: 105
                  status:
                    type: string
                    enum: [pending, active, blocked]
                    default: pending
                    example: pending
                  created_at:
                    type: string
                    format: date-time
                    readOnly: true
                    example: "2025-10-31T15:45:00Z"
        "400":
          description: Requisição inválida — dados ausentes, senha fraca ou hCaptcha inválido/expirado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflito — o e-mail já está em uso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: EMAIL_ALREADY_IN_USE

  /users/activate:
    post:
      tags:
        - Usuários
      summary: Ativar usuário
      description: |
        Ativa uma conta de usuário previamente criada no sistema Brise Cloud usando um token de ativação enviado por e-mail.

        > ℹ️ **Observações:**  
        > - O token de ativação expira após 7 dias.  
        > - A qualquer momento, antes ou depois de expirar, pode ser solicitado o reenvio do token através de outro endpoint.  
        > - Após a ativação, o status do usuário passa de `pending` para `active`.

        > 🚨 **Nota Importante:**  
        > O path deste deve ser alterado para algo menos óbvio quando for para produção, para evitar spam e ataques de força bruta uma vez que não requer autenticação.
      operationId: activateUser
      requestBody:
        description: Dados necessários para ativação do usuário
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - token
              properties:
                email:
                  type: string
                  format: email
                  description: Endereço de e-mail do usuário a ser ativado
                token:
                  type: string
                  description: Código de verificação recebido por e-mail
            examples:
              activateUserRequest:
                summary: Exemplo de requisição para ativação de usuário
                value:
                  email: "joao.silva@exemplo.com"
                  token: "123456"
      responses:
        "200":
          description: Usuário ativado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 101
                  status:
                    type: string
                    enum: [pending, active, blocked]
                    example: active
                  updated_at:
                    type: string
                    format: date-time
                    example: "2025-09-22T14:00:00Z"
        "400":
          description: Requisição inválida. Token ou e-mail ausente ou incorreto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Token inválido.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: INVALID_TOKEN

  /users/resend-activation:
    post:
      tags:
        - Usuários
      summary: Reenviar token de ativação
      description: |
        Solicita o reenvio de um **novo token de ativação** para um usuário cuja conta ainda não foi ativada.

        > ℹ️ **Observações:**  
        > - Um **novo token** será enviado para o e-mail informado.  
        > - O token antigo é invalidado assim que o novo é gerado.  
        > - Pode ser solicitado a qualquer momento, mesmo que o token anterior tenha expirado.  
        > - Após receber o novo token, o usuário deve utilizá-lo para ativar sua conta através do endpoint `/users/activate`.

        > 🚨 **Nota Importante:**  
        > O path deste deve ser alterado para algo menos óbvio quando for para produção, para evitar spam e ataques de força bruta uma vez que não requer autenticação.
      operationId: resendActivationToken
      requestBody:
        description: E-mail do usuário que receberá o novo token de ativação
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  description: Endereço de e-mail do usuário que receberá o novo token
            examples:
              resendActivationRequest:
                summary: Exemplo de requisição para reenvio de token
                value:
                  email: "joao.silva@exemplo.com"
      responses:
        "200":
          description: Novo token de ativação enviado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Novo token de ativação enviado com sucesso para joao.silva@exemplo.com"
        "400":
          description: Requisição inválida. E-mail ausente ou formato incorreto.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: INVALID_REQUEST
        "404":
          description: Usuário não encontrado ou já ativo.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: USER_NOT_FOUND

  /users/login:
    post:
      tags:
        - Usuários
      summary: Autenticar usuário
      description: |
        Permite que um usuário autenticado acesse o sistema Brise Cloud utilizando e-mail e senha. 
        Retorna um token de sessão (JWT ou outro esquema de autenticação) que deve ser utilizado nas requisições subsequentes aos endpoints que requerem autenticação.

        > ℹ️ **Observações:**  
        > - Apenas usuários com status `active` podem se autenticar.  
        > - Usuários com status `pending` iniciaram automaticamente o processo de ativação, e um código de ativação é enviado para o e-mail cadastrado.  
        > - Usuários com status `blocked` não podem realizar login e receberão uma mensagem de erro apropriada.

        > 🚨 **Nota Importante:**  
        > O path deste deve ser alterado para algo menos óbvio quando for para produção, para evitar spam e ataques de força bruta uma vez que não requer autenticação.
      operationId: loginUser
      requestBody:
        description: Credenciais do usuário
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  description: Endereço de e-mail do usuário
                password:
                  type: string
                  format: password
                  description: Senha do usuário
            examples:
              loginRequest:
                summary: Exemplo de requisição para autenticação de usuário
                value:
                  email: "joao.silva@exemplo.com"
                  password: "senhaSegura123"
      responses:
        "200":
          description: Login realizado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: Token de acesso para autenticação nos endpoints protegidos
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  refresh_token:
                    type: string
                    description: Token utilizado para renovar o token de acesso
                    example: "dGhpc2lzc2Ftb3JlZnJlc2h0b2tlbg=="
                  expires_in:
                    type: integer
                    format: int64
                    description: Tempo em segundos para expiração do token de acesso sendo o padrão (48 horas)
                    default: 172800
                    example: 172800
                  token_type:
                    type: string
                    description: Tipo do token emitido
                    example: "Bearer"
        "400":
          description: Requisição inválida. Campos obrigatórios ausentes ou formato incorreto.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: |
            Credenciais inválidas ou usuário não ativo.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: INVALID_CREDENTIALS
                    enum: [INVALID_CREDENTIALS, USER_BLOCKED, USER_PENDING]

  /corporations:
    post:
      tags:
        - Corporações
      summary: Criar corporação
      description: |
        Registra uma nova **corporação** no sistema Brise Cloud.  

        O usuário autenticado que realiza a requisição é automaticamente convertido em um **usuário corporativo**, tornando-se o **owner** da corporação.  

        O vínculo entre usuário e corporação é estabelecido internamente pela API, e o campo `owner_id` é definido de forma automática, sem necessidade de envio pelo cliente.
      operationId: createCorporation
      security:
        - bearerAuth: []
      requestBody:
        description: Dados da corporação a ser criada
        required: true
        content:
          application/json:
            schema:
              required:
                - name
                - tax_id
              type: object
              properties:
                name:
                  type: string
                  description: Nome fantasia da corporação
                  example: "Tech Solutions Ltda."
                tax_id:
                  type: string
                  description: CNPJ da corporação
                  example: "12.345.678/0001-90"
      responses:
        "201":
          description: Corporação criada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 301
                  status:
                    type: string
                    enum: ["active", "suspended", "deleted"]
                    example: active
                  created_at:
                    type: string
                    format: date-time
                    example: "2025-09-22T15:30:00Z"
        "400":
          description: Requisição inválida, dados ausentes ou incorretos.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Conflito, corporação com mesmo CNPJ já existe.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: CORPORATION_ALREADY_EXISTS
        "401":
          description: Não autorizado (token ausente ou inválido).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: INVALID_TOKEN
    get:
      tags:
        - Corporações
      summary: Listar corporações
      description: |
        Retorna a lista de corporações às quais o usuário autenticado está vinculado, seja como **owner** ou como membro corporativo.
      operationId: listCorporations
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Lista de corporações retornada com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    tax_id:
                      type: string
                    owner_id:
                      type: integer
                    status:
                      type: string
                      enum: ["active", "suspended", "deleted"]
                    created_at:
                      type: string
                      format: date-time
                    updated_at:
                      type: string
                      format: date-time
              examples:
                corporationList:
                  summary: Exemplo de lista de corporações
                  value:
                    - id: 301
                      name: "Tech Solutions Ltda."
                      tax_id: "12.345.678/0001-90"
                      owner_id: 101
                      status: active
                      created_at: "2025-09-22T15:30:00Z"
                      updated_at: "2025-10-01T10:00:00Z"
                    - id: 302
                      name: "InovaTech S.A."
                      tax_id: "98.765.432/0001-12"
                      owner_id: 102
                      status: suspended
                      created_at: "2024-05-15T09:20:00Z"
                      updated_at: "2025-08-30T14:45:00Z"
        "401":
          description: Não autorizado (token ausente ou inválido).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: INVALID_TOKEN

  /corporations/{corporation_id}:
    get:
      tags:
        - Corporações
      summary: Obter dados de corporação
      description: |
        Retorna as informações detalhadas de uma corporação específica no Brise Cloud.

        O usuário precisa estar associado à corporação como proprietário ou administrador para acessá-la.
      operationId: getCorporationById
      security:
        - bearerAuth: []
      parameters:
        - name: corporation_id
          in: path
          required: true
          schema:
            type: integer
          description: ID da corporação
      responses:
        "200":
          description: Dados da corporação retornados com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 301
                  name:
                    type: string
                    example: "Tech Solutions Ltda."
                  tax_id:
                    type: string
                    example: "12.345.678/0001-90"
                  owner_id:
                    type: integer
                    example: 101
                  status:
                    type: string
                    enum: ["active", "suspended", "deleted"]
                    example: active
                  created_at:
                    type: string
                    format: date-time
                    example: "2025-09-22T15:30:00Z"
                  updated_at:
                    type: string
                    format: date-time
                    example: "2025-10-01T10:00:00Z"
        "400":
          description: Requisição inválida. Campos ausentes ou incorretos.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Corporação não encontrada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: CORPORATION_NOT_FOUND

  /corporations/{corporation_id}/members:
    get:
      tags:
        - Corporações
      summary: Listar membros da corporação
      description: |
        Retorna a lista de usuários vinculados a uma corporação, incluindo o **owner** e os membros corporativos.  

        > ⚠️ **Nota:** 
        > Apenas usuários administradores da corporação podem acessar esta informação.
      operationId: listCorporationMembers
      security:
        - bearerAuth: []
      parameters:
        - name: corporation_id
          in: path
          required: true
          schema:
            type: integer
          description: ID da corporação
      responses:
        "200":
          description: Lista de membros retornada com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    user_id:
                      type: integer
                      description: ID do usuário
                      example: 202
                    email:
                      type: string
                      description: E-mail do usuário
                      example: "pedro.rabello@empresa.com"
                    full_name:
                      type: string
                      description: Nome completo do usuário
                      example: "Pedro Rabello"
                    role:
                      type: string
                      enum: [owner, admin, user]
                      description: Papel do usuário na corporação (owner, admin ou user)
                      example: "admin"
                    member_status:
                      type: string
                      enum: [pending, active, rejected, revoked]
                      description: Status do vínculo do usuário com a corporação
                      example: pending
                    user_status:
                      type: string
                      enum: [active, pending, blocked]
                      description: Status da conta do usuário no sistema
                      example: active
                    created_at:
                      type: string
                      format: date-time
                      description: Data de criação do vínculo
                      example: "2023-01-01T12:00:00Z"
              examples:
                memberList:
                  summary: Exemplo de lista de membros de uma corporação
                  value:
                    - user_id: 202
                      email: "pedro.rabello@empresa.com"
                      full_name: "Pedro Rabello"
                      role: "owner"
                      member_status: "active"
                      user_status: "active"
                      created_at: "2023-01-01T12:00:00Z"
                      updated_at: "2023-01-10T15:30:00Z"
                    - user_id: 203
                      email: "maria.esteves@empresa.com"
                      full_name: "Maria Esteves"
                      role: "user"
                      member_status: "rejected"
                      user_status: "active"
                      created_at: "2023-02-05T09:20:00Z"
                      updated_at: "2023-02-15T11:45:00Z"
                    - user_id: 204
                      email: "carlos.garcia@empresa.com"
                      full_name: "Carlos Garcia"
                      role: "admin"
                      member_status: "pending"
                      user_status: "active"
                      created_at: "2023-03-10T14:00:00Z"
                      updated_at: "2023-03-12T16:30:00Z"
        "403":
          description: Usuário não possui acesso a esta corporação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: ACCESS_DENIED
        "404":
          description: Corporação não encontrada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: CORPORATION_NOT_FOUND
    post:
      tags:
        - Corporações
      summary: Adicionar membro à corporação
      description: |
        Adiciona um novo membro a uma corporação.  

        Caso o e-mail informado ainda **não esteja registrado**, cria um novo usuário com `user_status = pending`.  
        Em ambos os casos, o vínculo será criado inicialmente com `member_status = pending`.  

        O usuário só passa a integrar efetivamente a corporação após confirmar o e-mail e posterior aceitar o convite.

        > ⚠️ **Nota:** 
        > Apenas usuários **administradores** da corporação podem adicionar novos membros.
      operationId: addCorporationMember
      security:
        - bearerAuth: []
      parameters:
        - name: corporation_id
          in: path
          required: true
          schema:
            type: integer
          description: ID da corporação
      requestBody:
        description: Dados do usuário a ser adicionado como membro
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - role
              properties:
                email:
                  type: string
                  format: email
                  description: E-mail do usuário a ser adicionado (deve estar registrado no sistema)
                  example: "pedro.rabello@empresa.com"
                full_name:
                  type: string
                  description: Nome completo do usuário. Obrigatório se o usuário ainda não existir.
                  example: "Pedro Rabello"
                password:
                  type: string
                  format: password
                  description: Senha do usuário (mínimo 8 caracteres). Obrigatório se o usuário ainda não existir.
                  example: "senhaSegura123"
                role:
                  type: string
                  enum: ["admin", "user"]
                  description: Papel do usuário na corporação (admin ou user)
                  example: "admin"

      responses:
        "201":
          description: Membro adicionado com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: integer
                    description: ID do usuário
                    example: 203
                  member_status:
                    type: string
                    enum: [pending, active, rejected, revoked]
                    description: Status do vínculo do usuário com a corporação
                    example: pending
                  user_status:
                    type: string
                    enum: [active, pending, blocked]
                    description: Status da conta do usuário no sistema
                    example: active
                  created_at:
                    type: string
                    format: date-time
                    description: Data de criação do vínculo
                    example: "2023-01-01T12:00:00Z"
        "400":
          description: Requisição inválida. Campos ausentes ou incorretos.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Usuário não possui acesso a esta corporação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: ACCESS_DENIED
        "404":
          description: Corporação ou usuário não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: CORPORATION_NOT_FOUND
        "409":
          description: Conflito, usuário já é membro da corporação.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: USER_ALREADY_MEMBER

  /applications:
    post:
      tags:
        - Aplicações
      summary: Solicitar cadastro
      description: |
        Permite que um usuário registrado no Brise Cloud solicite o cadastro de uma aplicação
        que poderá interagir com a API via OAuth2. Após a análise da equipe, será atribuído
        um `client_id` e `client_secret`.

        > ℹ️ Observações:
        > - O usuário deve existir no Brise Cloud.
        > - A solicitação será criada com status `pending` até ser avaliada.
        > - Campos obrigatórios: `name`, `email`, `contact_name`, `contact_phone`.

        > 🚨 **Nota Importante:**  
        > Quando houver a plataforma implementada as solicitações deverão ser atraves dela e por tanto respeitando as regras de segurança, deixando de ser um endpoint publico.
      operationId: createApplication
      requestBody:
        description: Dados da aplicação a ser registrada
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - contact_name
                - contact_phone
              properties:
                name:
                  type: string
                  description: Nome da aplicação
                  example: "Meu Sistema de Gestão"
                email:
                  type: string
                  format: email
                  description: E-mail do proprietário (usuário Brise Cloud)
                  example: "usuario@exemplo.com"
                contact_name:
                  type: string
                  description: Nome de contato da aplicação
                  example: "João Silva"
                contact_phone:
                  type: string
                  description: Telefone de contato da aplicação
                  example: "+55 (11) 99999-9999"
                redirect_uri:
                  type: string
                  description: URI de callback OAuth2 (opcional)
                  example: "https://meuapp.com/oauth/callback"
      responses:
        "201":
          description: Solicitação registrada com sucesso.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 501
                  status:
                    type: string
                    enum: [pending, active, revoked]
                    example: pending
                  created_at:
                    type: string
                    format: date-time
                    example: "2025-09-24T14:00:00Z"
                  message:
                    type: string
                    example: "Solicitação registrada com sucesso. A equipe irá analisar e liberar os dados."
        "400":
          description: Requisição inválida. Campos ausentes ou incorretos.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Usuário não encontrado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: USER_NOT_FOUND
        "409":
          description: Conflito, aplicação com mesmo nome ou e-mail já existe.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: APPLICATION_ALREADY_EXISTS

components:
  securitySchemes:
    bearerAuth:
      title: Bearer Authentication
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        O token de acesso JWT deve ser enviado no cabeçalho `Authorization` da sua requisição autenticadas.

        ```
        Authorization: Bearer <seu-token>
        ```

        Tokens têm vida curta e devem ser renovados conforme necessário.
    oauth2:
      type: oauth2
      description: |
        Este esquema de segurança segue o padrão **OAuth 2.0**, permitindo que aplicativos de terceiros acessem recursos em nome do usuário sem expor a senha diretamente.  

        O fluxo `authorizationCode` é o mais recomendado, pois garante maior segurança ao usuário e ao cliente.
      flows:
        authorizationCode:
          authorizationUrl: "https://brise.agst.com.br/api/v3/oauth/authorize"
          tokenUrl: "https://brise.agst.com.br/api/v3/oauth/token"

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: INVALID_REQUEST
    TokenRequestAuthorizationCode:
      type: object
      properties:
        grant_type:
          type: string
          enum: [authorization_code]
          description: Tipo de grant sendo utilizado
        code:
          type: string
          description: Código de autorização recebido no /oauth/authorize
        client_id:
          type: string
          description: Client ID da aplicação registrada
          example: "app_1234567890abcdef"
        client_secret:
          type: string
          description: Client Secret da aplicação registrada
          example: "secret_0987654321fedcba"
        code_verifier:
          type: string
          description: Verifier usado no PKCE (obrigatório se code_challenge foi enviado na /authorize)
      required:
        - grant_type
        - code
        - client_id
        - client_secret
    TokenRequestRefreshToken:
      type: object
      properties:
        grant_type:
          type: string
          enum: [refresh_token]
          description: Tipo de grant sendo utilizado
        refresh_token:
          type: string
          description: Refresh token recebido anteriormente
        client_id:
          type: string
          description: Client ID da aplicação registrada
          example: "app_1234567890abcdef"
        client_secret:
          type: string
          description: Client Secret da aplicação registrada
          example: "secret_0987654321fedcba"
      required:
        - grant_type
        - refresh_token
        - client_id
        - client_secret
